<!DOCTYPE html>
<html lang="uz">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parolni o'zgartirish</title>
    <link rel="stylesheet" href="{% static 'account/style.css' %}">
    <link rel="icon" href="{% static 'images/favicon_io/favicon.ico' %}">
</head>
<body>
    <!-- Navbar -->
    <div class="loader-wrapper" id="loader">
        <span class="loader"></span>
    </div>
    <!-- Loader tugashi -->
    {% if messages %}
    <div class="messages-wrapper">
        {% for message in messages %}
        <div class="alert {{ message.tags }}">
            <span class="icon">⚠️</span>
            <span class="text">{{ message }}</span>
            <button class="close-btn" onclick="this.parentElement.style.display='none';">&times;</button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="circle3"></div>
    <div class="circle4"></div>

    <div class="login-wrapper">
        <!-- Illyustratsiya -->
        <div class="illustration">
            <img src="{% static 'account/images/reset_password_bg.png' %}" alt="Illyustratsiya">
        </div>

        <!-- Parolni o'zgartirish formasi -->
        <div class="login-container">
            <h2>Yangi parol</h2>

            {% if form.errors %}
                <div class="error">Iltimos, barcha maydonlarni to‘g‘ri to‘ldiring.</div>
            {% endif %}

            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_password1">Parol</label>
                    <input type="password" name="password1" id="id_password1" required>
                </div>
                <div class="form-group">
                    <label for="id_password2">Parolni tasdiqlang</label>
                    <input type="password" name="password2" id="id_password2" required>
                </div>
                <button class="login-btn" type="submit">Tasdiqlash</button>
            </form>
        </div>
    </div>
    <script>
        window.addEventListener("load", function () {
            setTimeout(() => {
                const loader = document.getElementById("loader");
                loader.style.opacity = 0;
                setTimeout(() => {
                    loader.style.display = "none";
                }, 500);
            }, 1200); // 1.2 soniya kechikish bilan yo'qoladi
        });
    </script>
</body>
</html>
