<!DOCTYPE html>
<html lang="uz">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parol o‘zgartirildi</title>
    <link rel="stylesheet" href="{% static 'account/style.css' %}">
    <link rel="icon" href="{% static 'images/favicon_io/favicon.ico' %}">
</head>
<body>
    <!-- Navbar -->
    <div class="loader-wrapper" id="loader">
        <span class="loader"></span>
    </div>
    <!-- Loader tugashi -->
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="circle3"></div>
    <div class="circle4"></div>

    <div class="success-wrapper">
        <div class="success-card">
            <div class="check-icon">✅</div>
            <h2>Parolingiz yangilandi!</h2>
            <p>Endi yangi parolingiz bilan tizimga kirishingiz mumkin.</p>
            <a href="{% url 'login' %}">
                <button class="login-btn">Kirish sahifasiga qaytish</button>
            </a>
        </div>
    </div>
    <script>
        window.addEventListener("load", function () {
            setTimeout(() => {
                const loader = document.getElementById("loader");
                loader.style.opacity = 0;
                setTimeout(() => {
                    loader.style.display = "none";
                }, 500);
            }, 1200); // 1.2 soniya kechikish bilan yo'qoladi
        });
    </script>
</body>
</html>
