<!DOCTYPE html>
<html lang="uz">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kodni kiriting</title>
    <link rel="icon" href="{% static 'images/favicon_io/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'account/style.css' %}">
</head>
<body>
    <!-- Navbar -->
    <div class="loader-wrapper" id="loader">
        <span class="loader"></span>
    </div>
    <!-- Loader tugashi -->
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="circle3"></div>
    <div class="circle4"></div>

    {% if messages %}
    <div class="messages-wrapper">
        {% for message in messages %}
        <div class="alert {{ message.tags }}">
            <span class="icon">⚠️</span>
            <span class="text">{{ message }}</span>
            <button class="close-btn" onclick="this.parentElement.style.display='none';">&times;</button>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="login-wrapper">
        <div class="illustration">
            <img src="{% static 'account/images/verify_code_bg.png' %}" alt="Illyustratsiya">
        </div>

        <div class="login-container">
            <h2>Tasdiqlash kodi</h2>
            <p>Emailingizga yuborilgan 6 xonali kodni kiriting:</p>

            {% if error %}
                <div class="error">{{ error }}</div>
            {% endif %}

            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_code">6 xonali kod</label>
                    <input type="text" name="code" id="id_code" maxlength="6" pattern="\d{6}" required>
                </div>
                <button class="login-btn" type="submit">Davom etish</button>
            </form>

            <p class="small-text">
                Kodni olmadingizmi? <a href="{% url 'resend_reset_code' %}">Qayta yuborish</a>
            </p>
        </div>
    </div>
    <script>
        window.addEventListener("load", function () {
            setTimeout(() => {
                const loader = document.getElementById("loader");
                loader.style.opacity = 0;
                setTimeout(() => {
                    loader.style.display = "none";
                }, 500);
            }, 1200); // 1.2 soniya kechikish bilan yo'qoladi
        });
    </script>
</body>
</html>
